@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Julee', cursive !important;
    background-color: #E6C4C0 !important;
    width: 100% !important;
    height: auto !important;
}

/* navbar başlangıç */

.navbar {
    background-color: #7A4495 !important;
    height: 100px !important;
    /* width: 100% !important;
    height: auto !important; */
}

.navbar-collapse {
    margin: 0 50px !important;
}

.nav-link {
    color: #FCE2DB !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.navbar-brand {
    color: #FF8FB1 !important;
    font-size: 30px !important;
    font-weight: bold !important;
}

.nav-item {
    margin: 0 20px !important;
}

.dropdown-menu {
    background-color: #FCE2DB !important;
}

.d-flex input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#searchh {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: #B270A2 !important;
}

#id-cart {
    border: 0 !important;
    margin-left: 10px !important;
}

.basket-icon {
    position: relative;
}

.basket-count {
    position: absolute;
    right: 0rem;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

/* navbar bitiş */
/*slider başlangıç */

.slider {
    width: 95% !important;
    height: 450px !important;

}

.carousel-item img {
    width: 100% !important;
    height: 450px !important;
    margin-left: 50px !important;
    margin-right: 20px !important;
}

/*slider bitiş */
/*card balangıç */
.store {
    margin: 20px 3% !important;
    padding: auto !important;
}

.i2 {
    /* color: #E6C4C0; */
    position: relative;
    top: -45px;
    font-size: 30px;
    border: 10px solid #E6C4C0; 
    background-color: #E6C4C0;
}

.ayrac {
    border-top: 5px solid #694E4E;
    max-width: 300px;
    margin: 20px auto;
 }


.left-div{
    width: 25% !important;
    height: 23rem !important;
    margin-top: 13% !important;
   
}

/* .btn-filtre{
    background-color: #845EC2 !important;
    padding: 10px !important;
    margin-left: 70% !important;
    margin-bottom: 50px !important;
    text-decoration: none !important;
    color: #F0D9E7 !important;
   
} */

.filtre-baslik{
    /* border: 2px solid red !important; */
    align-items: center !important;
    justify-content: center !important;
}

.filtre{
    position: absolute !important;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filtre li{
    cursor: pointer;
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #845EC2;
    font-weight: 400;
    transition: 0.2s ease-in-out;
}
.filtre li:hover{
    color: #2FC4B2;
    font-weight: 600;
}

.filtre li.active{
    color: #12947F ;
    font-size: 1.5rem;
    font-weight: bolder;
    /* #7027A0 */
}
.filtre li.active::before{

}

.right-div {
    width: 75% !important;
    height: auto !important;
    /* border: 2px solid red !important; */
    position:relative !important;
}

.card {
    /* position:absolute !important; */
    margin: 15px 9px !important;
   border: #c4b4b1 !important;
    /* padding: 3px !important; */
    width: 28rem !important;
    height: 16rem !important;
    background-color: #E6C4C0 !important;
    /* box-shadow: #FCE2DB !important; */

}

.checked {
    color: orange !important;
  }

.card-img-div {
    margin: 10px 30px !important;
}
.ürün-ad{
    padding-top: 10px !important;
}

.card-text {
    text-align: justify !important;
    padding-right: 15px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;

}

.btn-a{
    background-color: #845EC2 !important;

}

.card-btn:hover{
    background-color: #ac93b7 !important;
    color: #422d32 !important;
    border: none !important;
    
}

.card-link {
    padding: 10px !important;
    text-decoration: none !important;
    color: #F0D9E7 !important;
    
}

.bi-cart-check,
.bi-heart {
    color: black !important;
}


/*card bitiş */